[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-genai = "*"
langchain-google-genai = "*"
langchain = "*"
openai = "*"
langchain-openai = "*"
faiss-cpu = "*"
langchain-huggingface = "*"
langchain-groq = "*"
langchain-community = "*"
sentence-transformers = "*"
langchain-classic = "*"
langchain-text-splitters = "*"
python-dotenv = "*"
langfuse = "*"

[dev-packages]

[requires]
python_version = "3.14"
